<!DOCTYPE html>

<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="icon" type="image/png" href="favicon.png">
        <title>Blog Kountac</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" class="cssfx">
        <script src="{{ asset('js/cssfx.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/blue.css') }}" class="cssfx mainColorCss">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/sequence.css') }}" class="cssfx">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/coda-slider-2.0.css') }}" class="cssfx">
        <!-- Phone -->
        <link href="{{ asset('css/phone.css') }}" rel="stylesheet" type="text/css" media="only screen and (max-width:320px)" class="cssfx">
        <!-- Phone Wide -->
        <link href="{{ asset('css/phone-landscape.css') }}" rel="stylesheet" type="text/css" media="only screen and (min-width:321px) and (max-width:480px)" class="cssfx">
        <!-- Tablet -->
        <link href="{{ asset('css/tablet.css') }}" rel="stylesheet" type="text/css" media="only screen and (min-width:481px) and (max-width:768px)" class="cssfx">
        <!-- Desktop -->
        <link href="{{ asset('css/desktop.css') }}" rel="stylesheet" type="text/css" media="only screen and (min-width:769px) and (max-width:1000px)" class="cssfx">
        <link href="{{ asset('css/theme_setting.css') }}" rel="stylesheet" type="text/css">

        <script src="{{ asset('js/libs/modernizr-2.5.3.min.js') }}"></script>
    </head>
    <body>
        <p id="back-top"><a href="#top"><span></span></a></p>
        <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->


        <!-- Begin Wrapper -->
        <div class="wrapper topBorder">

            <!-- Begin Header -->
            <header id="mainHeader" class="clearfix">
                <div id="logoCon">
                    <!-- Logo -->
                    <br><br>

                    <h1><a href="{{ path('blog_ornoir_homepage')
                    }}">Kountac - <span class="gery">Blog</span></a></h1>
                    <p class="des">Tout sur le 100% Made in Africa et autre</p>
                </div>

                <!-- Begin Main Navigation -->
                <nav id="menu">
                    <h2 class="visuallyhidden">Main Navigation</h2>
                    <ul class="menu">
                        <li  {% block accueil_class %} class="current" {% endblock %} ><a href="{{ path('blog_ornoir_homepage') }}">Accueil</a><span class="desc">Bienvenue</span></li>
                        <li {% block about_class %} {% endblock %}><a href="{{ path('blog_ornoir_about') }}">A Propos</a><span class="desc">Kountac</span></li>
                        <li {% block blog_class %} {% endblock %}><a href="{{ path('blog_ornoir_blog_all') }}">Blog</a><span class="desc">Les Articles</span></li>
                        <li {% block marques_class %} {% endblock %}><a href="{{
                        path('blog_ornoir_service_all')
                        }}">Marques</a><span class="desc">Revues sur
                        les marques</span></li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% render(controller('UtilisateursBundle:Editeur:utilisateurMenu')) %}
                        {% else %}
                            <li {% block connect_class %} {% endblock %}><a href="{{ path('fos_user_security_login') }}">Se Connecter</a><span class="desc">Espace pour éditeurs</span></li>
                        {% endif %}
                        <li {% block contact_class %} {%
                        endblock %} class="last"><a href="{{ path('blog_ornoir_contact') }}">Contact</a><span class="desc">Besoin d'aide</span></li>
                    </ul>
                </nav>
                <!-- End Main Navigation -->
            </header>
            <!-- End Header -->

    <body>
        {% block body %}{% endblock %}

            <div class="circleSep">
                <div class="circleLeft"></div>
                <div class="circleRight"></div>
                <div class="sep"></div>
            </div>

            <!-- Begin Footer -->
            <footer id="pageFooter" class="clearfix">
                <h2 class="visuallyhidden">Footer Widgets</h2>
                <div class="one_fourth widget">
                    <h3>A Propos de Nous</h3>
                    <p>Kountac, la plateforme du 100% fabriqué en Afrique.</p>
                </div>
                <div class="one_fourth widget">
                    <h3>CATÉGORIES</h3>
                    <ul>
                        <li><a href="#">Le Made in Africa</a></li>
                        <li><a href="#">Focus Mode</a></li>
                        <li><a href="#">Les rêveurs du continent</a></li>
                        <li><a href="#">La musique comme elle s'écoute</a></li>
                        <li><a href="#">Idées et débats de notre temps</a></li>
                    </ul>
                </div>
                <div class="one_fourth widget">
                    <h3>CONTACT</h3>
                    <ul class="address-details">
                        <li class="name">KOUNTAC SA</li>
                        <li class="address">12 rue de Valois,<br>
                           91940 Les Ulis,<br>
                            France, FR</li>
                        <li class="phone">(+33)7 83 77 03 22</li>
                        <li class="email"><a href="mailto:contact@kountac.fr" target="_blank">contact@kountac.fr</a></li>
                    </ul>
                </div>
                <div class="one_fourth last widget">
                    <h3>REVUES SUR LES MARQUES</h3>
                    <ul>
                        <li><a href="#">Les Tops</a></li>
                        <li><a href="#">Nouveautés de la saison</a></li>
                        <li><a href="#">Les incontournables</a></li>
                        <li><a href="#">Découvertes</a></li>
                        <li><a href="#">Rencontres</a></li>
                    </ul>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
        <!-- End Wrapper -->

        <!-- Begin Copyright -->
        <div class="clearfix" id="copyrightText">
            <p class="floatLeft">&copy; {{ "now"|date('Y') }} <a href="www.kountac.fr" target="_blank">Kountac.fr</a>, Tous droits reservés. </p>
            <p class="floatRight socialIcons"> Nous suivre: <a href="#" title="" target="_blank" class="google">google plus</a><a href="http://www.facebook.com/kountac" title="" target="_blank" class="facebook">facebook</a><a href="#" title="" target="_blank" class="twitter">twitter</a></p>
        </div>
        <!-- End Copyright -->

        {% block javascripts %}

        <script src="{{ asset('ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js') }}"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('js/libs/jquery-1.7.2.min.html') }}"><\/script>')</script>
        <script src="{{ asset('js/plugins.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        <script src="{{ asset('bundles/blogornoir/ckeditor/ckeditor.js') }}"></script>

        <script>
            var _gaq = [['_setAccount', 'UA-24743401-1'], ['_trackPageview']];
            (function (d, t) {
                var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
                g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s)
            }(document, 'script'));
        </script>
        {% endblock %}
    </body>
</html>
