<form action="{{ path('produit_pro_new_edit2', {'id' : motif.id}) }}" {{ form_enctype(form) }}  method="POST">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <ul>
        <li class="row">
            <div class="col-sm-3">
                {{ form_row(form.libelle) }}
            </div>
            <div class="col-sm-3">
                <div class="top-cart-contain">
                    <div class="mini-cart">
                        <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> 
                            <a href>
                                <div class="cart-icon">&nbsp; Voir motifs</div>
                            </a>
                        </div>
                        <div>
                            <div class="top-cart-content">
                                <div class="block-subtitle hidden-xs"></div>
                                <ul id="cart-sidebar" class="mini-products-list">
                                    {% for libelle in libelles %}
                                        <li class="item last odd"> 
                                            <a title="{{ libelle.libelle|capitalize }}" class="product-image">
                                                <img src="{{ libelle.AssetPath|imagine_filter('cartThumbMenuItem') }}" alt="">
                                            </a>
                                            <div class="product-details">
                                                <p class="product-name">
                                                    <a>{{ libelle.libelle|capitalize }}</a> 
                                                </p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <br>
        <li class="row">
            <div class="col-sm-3">
                {{ form_row(form.etat) }}
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-3">
                {{ form_row(form.reduction) }}
            </div><!--/ [col] -->
        </li>
        <br>
        <br>
                                    <h3 class="checkout-step">Détails sur les prix</h3>
                                    <br>
                                    <li class="row">
                                        <div class="col-sm-3">
                                            {{ form_row(form.prix) }}
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-4">
                                            <label data-toggle="collapse" data-target="#demo">{{ form_label(form.prixCommande) }}</label>
                                            <div id="demo" class="collapse">
                                              {{ form_widget(form.prixCommande) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_label(form.precommande) }}
                                            {{ form_row(form.precommande.0) }}
                                            {{ form_row(form.precommande.1) }}
                                        </div>
                                    </li>
        <br>
        <li>
            <button class="button pull-left" type="submit"> &nbsp;<span>Modifier motif &nbsp; &nbsp;<i class="fa fa-check"></i></span></button>
        </li>
    </ul>
    {{ form_end(form) }}
</form>