{% extends "::base.html.twig" %}

{% block body %}
    
    <div class="circleSep">
                <div class="circleLeft"></div>
                <div class="circleRight"></div>
                <div class="sep"></div>
            </div>

            <!-- Begin Banner -->
            <div id="bannerWide">
                <div>
                    <div id="sequence">
                        <ul>
                            <li>
                                <h2 class="title animate-in"><span class="blue">BIENVENU SUR</span> KOUNTAC</h2>
                                <p class="subtitle animate-in">Site de vente dédié aux créateurs et producteurs Africains</p>
                                <img class="model animate-in" src="{{ asset('img/slider/slide2.jpg') }}" alt="Responsive Layout" > </li>
                            <li>
                                <h2 class="title"><span class="blue">THE NEW MADE IN</span> AFRICA </h2>
                                <p class="subtitle">Une production prête à porter de qualité 100% Africaine</p>
                                <img class="model" src="{{ asset('img/slider/slide3.jpg') }}" alt="Easily Customizable"> </li>
                            <li>
                                <h2 class="title"><span class="blue">UNE NOUVELLE VISION DE LA</span> MODE</h2>
                                <p class="subtitle">Commandez vos modèles sur mesures personnalisées ou les modèles du site</p>
                                <img class="model" src="{{ asset('img/slider/slide1.jpg') }}" alt="Model 3"> </li>
                            <li>
                                <h2 class="title"><span class="blue">VOLORISEZ VOS</span> CREATIONS</h2>
                                <p class="subtitle">Les dernières tendance de la mode et arts en Afrique</p>
                                <img class="model" src="{{ asset('img/slider/slide3.jpg') }}" alt="Model 3"> </li>
                        </ul>
                    </div>
                    <ul id="nav">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Banner -->

            <!-- Begin MainContainer -->
            <div id="mainContainer">
                <div id="mainContent">
                    <br><br>
                    <!-- From The Blog -->
                    <section class="columns clearfix fromTheBlog">
                        <h2><a href="{{ path('blog_ornoir_blog_all') }}">Articles </a> Kountac</span></h2>
                        {% for blog in blogs %}
                        <article class="one_third last clearfix">
                            <div class="frame_round floatLeft"><img src="{{ asset(blog.image.AssetPath) }}" width="50" alt=""></div>
                            <p class="date"><span>{{ blog.dateAjout|date('d') }}</span> {{ blog.dateAjout|date('M') }}</p>
                            <div class="content">
                                <header>
                                    <h3>{{ blog.titre|upper }}</h3>
                                    <p class="author_name">par <a href="#">{{ blog.editeur }}</a></p>
                                </header>
                                <p class="shortDesc">{{ blog.description|truncate(25, false, ' ...') }}</p>
                                <a href="{{ path('blog_ornoir_blog_single', {'id' : blog.id}) }}" class="button">LIRE PLUS <span>&raquo;</span></a></div>
                        </article>
                        {% endfor %}
                    </section>

              
                    <!-- Services -->
                    <section class="columns clearfix" id="services">
                        <h2><a href="{{ path('blog_ornoir_service_all') }}">Services </a> Kountac</h2>
                        <article class="one_third last">
                            {% for service in services %}
                            <div class="frame_round floatLeft"><img width="50" src="{{ asset(service.image.AssetPath) }}" alt=""></div>
                            <div class="content">
                                <header>
                                    <h3>{{ service.titre }}</h3>
                                    <p class="author_name">par <a href="#">{{ service.editeur }}</a></p>
                                </header>
                                <p class="shortDesc">{{ service.description|raw|truncate(25, false, ' ...')}}</p>
                                <a href="{{ path('blog_ornoir_service_single', {'id' : service.id}) }}" class="button">LIRE PLUS  &raquo;</a> </div>
                        </article>
                        {% endfor %}
                    </section>
                
                    <!-- CallOut Box -->
                    <article class="call_out blue clearfix">
                        <div class="content">
                            <h2>BESOIN <span class="blue">D'AIDE ?</span></h2>
                            <p>Besoin de nous contacter? cliquez sur le lien.</p>
                        </div>
                        <a href="{{ path('blog_ornoir_contact') }}" class="button_round">Contacter-nous</a> </article>

                    <div class="sep"></div>


                    <article class="clearfix columns noBorder beInTouch">
                        <h2>ILS PARLENT!! <span class="blue"> SOYEZ PARMI EUX !!</span></h2>
                        <article class="two_third">
                            <h3>Ce que disent <span class="blueBlod">les clients</span></h3>

                            <!-- Testimonials -->
                            <div id="testimonial">
                                <div class="coda-slider" id="slider-id">
                                    {% for commentaire in commentaires %}
                                    <div>
                                        <h2 class="title"></h2>
                                        <blockquote>
                                            <p>{{ commentaire.commentaire|raw }}</p>
                                            <p class="author">- {{ commentaire.pseudo|upper}}</p>
                                        </blockquote>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="arrow"></div>
                            </div>
                        </article>

                        <!-- Recent Tweets -->
                        <article class="one_third last recentTweet">
                            <h3><span class="blueBlod">Commentaires</span> récents</h3>
                            <ul id="twitter_update_list"></ul>  
                        </article>

                    </article>
                </div>
            </div>
            <!-- End Main Container -->

  {% endblock %}
